.parallax {
  overflow: hidden;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 300;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  gap: 6rem;
}

.parallax span {
  display: block;
  font-size: 4rem;
  color: white;
  font-family: PistilliRoman;
}
@media screen and (max-width: 768px) {
  .parallax span {
    font-size: 1rem;
  }
}
