img {
  max-width: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.tabs-component {
  border-radius: 1rem;
  padding-top: var(--header-height);
}
.tab-links {
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
  max-width: 600px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
}
@media (max-width: 1240px) {
  .tab_wrapper {
    padding: 0 2rem !important;
  }
}
@media (max-width: 500px) {
  .tab span {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 678px) {
  .tab_wrapper {
    padding: 0 0.1rem !important;
  }
  .tab-links {
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
  .tab {
    height: 40px;
    width: auto;
  }
  .tab.active span {
    font-size: 1.1rem !important;
  }

  .tab span {
    width: fit-content;
  }
}
.tab {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab a {
  text-decoration: none;
  overflow: hidden;
}
.tab.active span {
  font-size: 1.5rem;
}
.tab::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  border-radius: 0.8rem;
  background: none;
  transition: background 0.5s ease;
}

.tab.active::before {
  background-color: var(--speak-now-6);
}

.tab span {
  font-weight: 700;
  transition: color 0.5s ease;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-overflow: ellipsis;
  color: var(--speak-now-4);
  text-align: center;
}

.tab.active span {
  color: white;
}

.tab.active svg {
  fill: var(--active-color);
}

.tab a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contents {
  display: flex;
}
.content-card {
  width: 100%;
  max-width: 600px;
}

.content-card .info::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  bottom: -5px;
  background: var(--active-color);
  opacity: 0.5;
}

.content-card img {
  border-radius: 6px;
}

.content-card h3 {
  margin: 0 0 5px;
}

.content-card .info {
  padding: 10px 0;
}
.ticket-btn {
  color: white;
  text-decoration: none;
  font-family: monospace;
  margin: 2rem;
  text-transform: uppercase !important;
  pointer-events: all;
}

.tab_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  gap: 1rem;
  flex-wrap: wrap;
}
