@media screen and (min-width: 768px) {
  .tabs-component {
    padding-top: var(--header-height) !important;
  }
  .cards {
    flex-direction: row !important;
  }
}
img {
  max-width: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.tabs-component {
  padding-top: var(--header-height-mobile);
  border-radius: 1rem;
  margin-top: 3rem;
}
.tab-links {
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
  max-width: 600px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.tab {
  position: relative;
}
.tab a {
  text-decoration: none;
  overflow: hidden;
}

.tab::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  border-radius: 0.8rem;
  background: none;
  transition: background 0.5s ease;
}

/* .tab svg {
  height: 30px;
  width: 30px;
  min-width: 30px;
  fill: var(--black);
  transition: fill 0.5s ease;
} */

.tab.active::before {
  background: var(--speak-now-4);
}

.tab span {
  width: 100%;
  font-weight: 700;
  transition: color 0.5s ease;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-overflow: ellipsis;
  color: var(--speak-now-4);
  text-align: center;
}

.tab.active span {
  color: white;
}

.tab.active svg {
  fill: var(--active-color);
}

.tab a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.contents {
  display: flex;
}
.content-card {
  width: 100%;
}

.content-card .info::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  bottom: -5px;
  background: var(--active-color);
  opacity: 0.5;
}

.content-card img {
  border-radius: 6px;
}

.content-card h3 {
  margin: 0 0 5px;
}

.content-card .info {
  padding: 10px 0;
}
.ticket-btn {
  color: white;
  text-decoration: none;
  font-size: large;
  font-family: monospace;
}

.tab_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
