@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100,200,300,400,500;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Playfair+Display&family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  user-select: none;
  font-size: 16px;
  --header-height: 100px;
  --footer-height: 80px;
  --header-height-mobile: 50px;
  --speak-now-1: #1e0425;
  --speak-now-2: #3b1a4b;
  --speak-now-3: #613481;
  --speak-now-4: #8b56a7;
  --speak-now-5: #b67cd6;
  --speak-now-6: #cfa5df;
  --speak-now-7: #e7ccec;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1em;
  padding: 3em 0;
  background-color: var(--speak-now-1);
}

h1 {
  font-size: 4em;
  font-weight: 800;
}
h2 {
  font-size: 2em;
  font-weight: 600;
}

.link {
  text-decoration: none;
}

@font-face {
  font-family: "CarlaSansRegular";
  src: local("CarlaSansRegular"),
    url("./fonts/CarlaSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Hertine";
  src: local("Hertine"), url("./fonts/Hertine.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaBold";
  src: local("HelveticaBold"),
    url("./fonts/HelveticaBold.ttf") format("truetype");
}

@font-face {
  font-family: "PistilliRoman";
  src: local("PistilliRoman"),
    url("./fonts/PistilliRoman.otf") format("truetype");
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--speak-now-5);
  transform-origin: 0%;
  z-index: 10;
}
